<div class="row p-3">
	<div class="col-12 paddingTitulos">
		<label class="titulos" for="fotos">
			¿Posee usted fotos y/o imagenes que desee mostrar de sus productos, ofertas, promociones y/o servicios?
		</label>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="si" name="fotos" class="custom-control-input">
			<label class="opciones mr-5 rounded p-2 custom-control-label" for="fotos">Si</label>
		</div>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="no" name="fotos" class="custom-control-input">
			<label class="opciones mr-5 rounded p-2 custom-control-label" for="fotos">No</label>
		</div>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="nosabe" name="fotos" class="custom-control-input">
			<label class="opciones mr-5 rounded p-2 custom-control-label" for="fotos">No se</label>
		</div>
	</div>
</div>
<!-- --------------------------------------------------------- -->
<div class="row p-3">
	<div class="col-12 paddingTitulos">
		<label class="titulos" for="videos">
			¿Tiene usted videos que desee mostrar en su página web?
		</label>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="si" name="videos" class="custom-control-input">
			<label class="mr-5 rounded p-2 opciones custom-control-label" for="videos">Si</label>
		</div>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="no" name="videos" class="custom-control-input">
			<label class="mr-5 rounded p-2 opciones custom-control-label" for="videos">No</label>
		</div>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="nosabe" name="videos" class="custom-control-input">
			<label class="mr-5 rounded p-2 opciones custom-control-label" for="videos">No se</label>
		</div>
	</div>
</div>
<!-- --------------------------------------------------------- -->
<div class="row p-3">
	<div class="col-12 paddingTitulos">
		<label class="titulos" for="textos">
			¿Tiene usted textos descriptivos que desee mostrar en su sitio web?
		</label>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="si" name="textos" class="custom-control-input">
			<label class="mr-5 rounded p-2 opciones custom-control-label" for="textos">Si</label>
		</div>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="no" name="textos" class="custom-control-input">
			<label class="mr-5 rounded p-2 opciones custom-control-label" for="textos">No</label>
		</div>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="nosabe" name="textos" class="custom-control-input">
			<label class="mr-5 rounded p-2 opciones custom-control-label" for="textos">No se</label>
		</div>
	</div>
</div>
<!-- --------------------------------------------------------- -->
<div class="row p-3">
	<div class="col-12 paddingTitulos">
		<label class="titulos" for="audiovisual">
			¿Algun otro tipo de material audiovisual que le gustaria mostrar?
		</label>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="si" name="audiovisual" class="custom-control-input">
			<label class="mr-5 rounded p-2 opciones custom-control-label" for="audiovisual">Si</label>
		</div>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="no" name="audiovisual" class="custom-control-input">
			<label class="mr-5 rounded p-2 opciones custom-control-label" for="audiovisual">No</label>
		</div>
	</div>
	<div class="col-12 col-sm-3">
		<div class="custom-control custom-radio">
			<input type="radio" id="nosabe" name="audiovisual" class="custom-control-input">
			<label class="mr-5 rounded p-2 opciones custom-control-label" for="audiovisual">No se</label>
		</div>
	</div>
</div>
<!--Continuacion de la misma pregunta-->
	<div class="col-12 paddingTitulos">
		<label class="titulos" for="cualeMaterial">Por favor describalo</label>
	</div>
	<div class="col-12">
		<textarea class="col-10" name="cualeMaterial" id="cualesMaterial" cols="20" rows="1"></textarea>
	</div>