<div class="row p-3">
	<div class="paddingTitulos col-12">
		<p class="titulos mt-2">Datos Personales: </p>
	</div>
	<div class="col-12 col-sm-6 input-group mt-2 mb-2 p-2">
		<div class="input-group-prepend">
			<button disabled="true" class="primerosDatos">Nombres: </button>
		</div>
			<input type="text" name="nombres" class="form-control">	
	</div>

	<div class="col-12 col-sm-6 input-group mt-2 mb-2 p-2">
		<div class="input-group-prepend">
			<button disabled="true" class="primerosDatos">Apellidos: </button>
		</div>
			<input type="text" name="apellidos" class="form-control">	
	</div>
</div>
<div class="row p-3">
	<div class="col-12 col-sm-6 input-group mt-2 mb-2 p-2">
		<div class="input-group-prepend">
			<button disabled="true" class="primerosDatos">Email: </button>
		</div>
			<input type="email" name="email" class="form-control">	
	</div>

	<div class="col-12 col-sm-6 input-group mt-2 mb-2 p-2">
		<div class="input-group-prepend">
			<button disabled="true" class="primerosDatos">Telefono: </button>
		</div>
			<input type="number" name="telefono" class="form-control">	
	</div>
</div>
<div class="row p-3">
	<div class="paddingTitulos col-12">
		<p class="titulos">La pagina web que usted esta solicitando es para: </p>
	</div>
	<div class="col-6 mt-3 mb-3">
		<div class="custom-control custom-radio">
  			<input type="radio" id="organizacion" name="radio" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="organizacion">
  			Organizacion
  			</label>			
		</div>
		<div class="custom-control custom-radio">
 			<input type="radio" id="negocio" name="radio" class="custom-control-input">
 			<label class="opciones custom-control-label mr-5 rounded p-2 mt-2 mb-1" for="negocio">
 			Negocio
 			</label>
		</div>
		<div class="custom-control custom-radio">
 			<input type="radio" id="emprendimiento" name="radio" class="custom-control-input">
 			<label class="opciones custom-control-label mr-5 rounded p-2" for="emprendimiento">
 			Emprendimiento
 			</label>
		</div>
	</div>
	<div class="col-6 mt-3 mb-3">
		<div class="custom-control custom-radio">
 			<input type="radio" id="firma" name="radio" class="custom-control-input">
 			<label class="opciones custom-control-label mr-5 rounded p-2" for="firma">
 			Firma Personal
 			</label>
		</div>
		<div class="custom-control custom-radio">
 			<input type="radio" id="institucion" name="radio" class="custom-control-input">
 			<label class="opciones custom-control-label mr-5 rounded p-2 mt-2 mb-1" for="institucion">
 			Institucion
 			</label>
		</div>
		<div class="custom-control custom-radio">
 			<input type="radio" id="otro" name="radio" class="custom-control-input">
 			<label class="opciones custom-control-label mr-5 rounded p-2" for="otro">
 			Otro
 			</label>
		</div>
	</div>
 
  	<div class="texto2 col-12 p-3">
		<p class="text-white">*Seleccione una opcion </p>
	</div>
</div>