<div class="row p-3">
	<div class="col-12">
		<label for="tipoPagina">
			¿Preferiría usted una página estatica o le gustaria tener la posibilidad
de editar su contenido y agregar contenido nuevo periodicamente?
		</label>
	</div>
	<div class="col-2">
		<div class="custom-control custom-radio">
			<input type="radio" id="estatica" name="tipoPagina" class="custom-control-input">
			<label  class="custom-control-label" for="tipoPagina" for="tipoPagina">Estatica</label>
		</div>
	</div>
	<div class="col-2">
		<div class="custom-control custom-radio">
			<input type="radio" id="no" name="tipoPagina" class="custom-control-input">
			<label class="custom-control-label"  for="tipoPagina" for="tipoPagina">Autoadministrable</label>
		</div>
	</div>
	<div class="col-2">
		<div class="custom-control custom-radio">
			<input type="radio" id="nose" name="tipoPagina" class="custom-control-input">
			<label class="custom-control-label"  for="tipoPagina" for="tipoPagina">No se</label>
		</div>
	</div>
</div>
<div class="row p-3">
	<div class="col-12">
		<label for="admin">¿Administraria usted mismo/a la pagina web o preferiria que yo o alguien mas a su cargo lo hiciera por usted?</label>
	</div>
	<div class="col-12 custom-control custom-radio">
			<input type="radio" id="1" name="admin" class="custom-control-input">
			<label class="custom-control-label"  for="admin">Me gustaria que usted(el desarrollador) o su personal se encargara de administrar los contenidos de mi pagina</label>
	</div>
	<div class="col-12 custom-control custom-radio">
			<input type="radio" id="2" name="admin" class="custom-control-input">
			<label class="custom-control-label" for="admin">Por mi mismo/a y se como hacerlo</label>
	</div>
	<div class="col-12 custom-control custom-radio">
			<input type="radio" id="3" name="admin" class="custom-control-input">
			<label class="custom-control-label"  for="admin">Por mi mismo/a y me gustaria recibir instruccion de su parte como se realiza la administración </label>
	</div>
	<div class="col-12 custom-control custom-radio">
			<input type="radio" id="4" name="admin" class="custom-control-input">
			<label class="custom-control-label"  for="admin">de una pagina y recibir asesoria periodica al respecto</label>
	</div>
	<div class="col-12 custom-control custom-radio">
			<input type="radio" id="5" name="admin" class="custom-control-input">
			<label class="custom-control-label"  for="admin">Tengo alguien a disposicion que puede llevar a cabo esta labor</label>
	</div>
</div>