<div class="row m-2">
	<div class="paddingTitulos col-12">
		<label class="titulos" for="publicoObjetivo">
		¿A que clase de publico estaria dirigido el sitio web, como describiria usted a sus clientes potenciales?
		</label>
	</div>
	<div class="col-12">
		<textarea placeholder="Escriba aqui..." class="col-12 m-auto" name="publicoObjetivo" id="publicoObjetivo" cols="20" rows="2"></textarea>
	</div>
	
</div>
<!-- --------------------------------------------------- --->
<div class="row p-3 d-flex justify-content-start">
		<div class="col-12 paddingTitulos">
			<label class="titulos" for="sede">¿Posee usted una sede/s fisica/s?</label>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="si" name="sede" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="sede">Si</label>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="no" name="sede" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="sede">No</label>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="nosabe" name="sede" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="sede">No se</label>
			</div>
		</div>
<!-- --------------------------------------------------- --->
		<div class="col-12 paddingTitulos">
			<label for="logo" class="titulos">¿Posee usted un logo?</label>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="si" name="logo" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="logo">Si</label>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="no" name="logo" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="logo">No</label>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="nosabe" name="logo" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="logo">No se</label>
			</div>
		</div>
	<!-- --------------------------------------------------- --->
		<div class="col-12 paddingTitulos">
			<label class="titulos" for="redes">¿Su marca dispone de redes sociales?</label>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="si" name="redes" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="redes">Si</label>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="no" name="redes" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="redes">No</label>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="nosabe" name="redes" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="redes">No se</label>
			</div>
		</div>

	<div class="col-12 paddingTitulos">
		<label class="titulos" for="cualesRedes">¿Cuales?</label>
	</div>
	<div class="col-12">
		<textarea class="col-10" name="cualesRedes" id="cualesRedes" cols="20" rows="1"></textarea>
	</div>
	<!-- --------------------------------------------------- --->
		<div class="col-12 paddingTitulos">
			<label class="titulos" for="colores">¿Tiene una paleta de colores?</label>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="si" name="redes" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="redes">Si</label>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="no" name="redes" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="redes">No</label>
			</div>
		</div>
		<div class="col-12 col-sm-3">
			<div class="custom-control custom-radio">
  			<input type="radio" id="nosabe" name="redes" class="custom-control-input">
  			<label class="opciones custom-control-label mr-5 rounded p-2" for="redes">No se</label>
			</div>
		</div>

	<div class="col-12 paddingTitulos">
		<label class="titulos" for="paleta">¿Cual es, podria enviarla mas adelante por correo o describir abajo cuales colores representarian mejor a su marca?</label>
	</div>
	<div class="col-12">
		<textarea class="col-10" name="publicoObjetivo" id="publicoObjetivo" cols="20" rows="2"></textarea>
	</div>
</div>
