<div class="row p-3 m-2">
	<label class="col-12" for="publicoObjetivo">
		¿A que clase de publico estaria dirigido el sitio web, como describiria usted a sus clientes potenciales?
	</label>
	<textarea class="col-10" name="publicoObjetivo" id="publicoObjetivo" cols="20" rows="2"></textarea>
</div>
<!-- --------------------------------------------------- --->
<div class="row p-3 d-flex justify-content-start">
		<div class="col-12 m-auto">
			<label for="sede">¿Posee usted una sede/s fisica/s?</label>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="si" name="sede" class="custom-control-input">
  			<label class="custom-control-label" for="sede">Si</label>
			</div>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="no" name="sede" class="custom-control-input">
  			<label class="custom-control-label" for="sede">No</label>
			</div>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="nosabe" name="sede" class="custom-control-input">
  			<label class="custom-control-label" for="sede">No se</label>
			</div>
		</div>
<!-- --------------------------------------------------- --->
		<div class="col-12">
			<label for="logo">¿Posee usted un logo?</label>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="si" name="logo" class="custom-control-input">
  			<label class="custom-control-label" for="logo">Si</label>
			</div>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="no" name="logo" class="custom-control-input">
  			<label class="custom-control-label" for="logo">No</label>
			</div>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="nosabe" name="logo" class="custom-control-input">
  			<label class="custom-control-label" for="logo">No se</label>
			</div>
		</div>
	<!-- --------------------------------------------------- --->
		<div class="col-12">
			<label for="redes">¿Su marca dispone de redes sociales?</label>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="si" name="redes" class="custom-control-input">
  			<label class="custom-control-label" for="redes">Si</label>
			</div>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="no" name="redes" class="custom-control-input">
  			<label class="custom-control-label" for="redes">No</label>
			</div>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="nosabe" name="redes" class="custom-control-input">
  			<label class="custom-control-label" for="redes">No se</label>
			</div>
		</div>

	<div class="col-12">
		<label for="cualesRedes">¿Cuales?</label>
	</div>
	<div class="col-12">
		<textarea class="col-10" name="cualesRedes" id="cualesRedes" cols="20" rows="1"></textarea>
	</div>
	<!-- --------------------------------------------------- --->
		<div class="col-12">
			<label for="colores">¿Tiene una paleta de colores?</label>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="si" name="redes" class="custom-control-input">
  			<label class="custom-control-label" for="redes">Si</label>
			</div>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="no" name="redes" class="custom-control-input">
  			<label class="custom-control-label" for="redes">No</label>
			</div>
		</div>
		<div class="col-2">
			<div class="custom-control custom-radio">
  			<input type="radio" id="nosabe" name="redes" class="custom-control-input">
  			<label class="custom-control-label" for="redes">No se</label>
			</div>
		</div>

	<div class="col-12">
		<label for="paleta">¿Cual es, podria enviarla mas adelante por correo o describir abajo cuales colores representarian mejor a su marca?</label>
	</div>
	<div class="col-12">
		<textarea class="col-10" name="publicoObjetivo" id="publicoObjetivo" cols="20" rows="2"></textarea>
	</div>
</div>
